@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-zain: var(--font-zain);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-zain), sans-serif;
}
